<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Load Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project | Brian Magaña</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icons/favicon.png') }}">
</head>
<body class="body-bottom-space">
    <div class="wrapper">
    <section class="no-height no-padding no-width">
        <a href="/#projects">
            <svg class="return-icon" height="20px" width="auto" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><title/><polyline points="112 160 48 224 112 288" style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><path d="M64,224H358c58.76,0,106,49.33,106,108v20" style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>
        </a>
        <h1 class="code">$ man cinemadd</h1>
        <h2 class="man-title less-margin-title">NAME</h2>
        <p class="man-content">Cinemadd - Cinema Booking Simulator</p>
    </section>

    <section class="no-height no-padding no-width">
        <h2 class="man-title">SYNOPSIS</h2>
        <p class="man-content">
            A Django based demo application that models a real cinema booking flow, from viewing available screenings to selecting and reserving seats.
            <span class="description-br">It integrates PostgreSQL for data handling and Django Testing Tools to ensure project integrity and reduce future errors.</span>
        </p>
    </section>

    <section class="no-height no-padding no-width">
        <h2 class="man-title">DEV NOTES</h2>
        <p class="man-content">
            <span class="description-br">
                The main objective of this project was to learn, and that was achieved by trying a more realistic data modeling with more defined business rules.
            </span>

            <span class="description-br">
                The most difficult part of the project was by far, managing the status of each seat selected for reservation.
                I wasn't entirely clear on the steps to follow to reserve the seats that the user wanted.
                The process of obtaining the correct seats associated with each reservation proved to be more complicated than anticipated.
            </span>
            
            <span class="description-br">
                I solved it by separating the problem into parts, retrieving the users inputs, curating the information, 
                performing a search of all related seats considering availability, and finally creating the seat reservation temporarily until the payment is confirmed, 
                all under atomic transactions to ensure the integrity of the payments.
            </span>
            
            <span class="description-br">
                Maybe the most important thing I learned was to structure the system first. Having a clear action plan makes it easy to follow it when programming.
            </span>
            <span class="description-br">
                On a more technical note, I learned to make better use of the Django Testing Tools to ensure the project functions correctly.
            </span>

            <span class="description-br">To improve the project, implementing Stripe as a payment processor could be considered. Additionally, seats are currently reserved 
                in the database for 5 minutes. If a reservation isn't filled for any reason, a script to release those seats and make them available again would likely be 
                the next step in improving this project.
            </span>
        </p>
    </section>

    <section class="no-height no-padding no-width">
        <h2 class="man-title">IMAGES</h2>
        <figure class="project-figure">
            <img src="{{ url_for('static', filename='images/movies.webp') }}" alt="Movies List">
            <figcaption class="img-caption">Fig. Cinema's Movies List</figcaption>
        </figure>
    </section>

    <section class="no-height no-padding no-width">
        <h2 class="man-title">AUTHOR</h2>
        <p class="man-content">Brian Magaña</p>
    </section>

    <section class="no-height no-padding no-width">
        <h2 class="man-title">SEE ALSO</h2>
        <p class="man-content">
            Link to repository: 
            <a class="simple-link paddin-left-link" href="https://github.com/BrialexMaga/cinemadd" target="_blank">github.com/BrialexMaga/cinemadd</a></p>
    </section>
    </div>
</body>
</html>