:root {
    --main-color: #2DA567;
    --secondary-color: #A52D6B;
    --code-text-color: hsl(0 0 60%);
}


html {
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 100%;

    background-color: #161616;
    color: white;
    font-family: 'Aldrich', sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.content {
    padding: 0;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
    padding: 1rem 2rem;
    margin: 0;
}

.navbar ul {
    flex-wrap: nowrap;
    overflow-x: auto;
}

.simple-link {
    text-decoration: none;
    color: hsl(0 0 60%);
    font-weight: bold;

    transition: color 0.3s ease;
}

.simple-link:hover {
    color: hsl(0 0 80%);
}

.simple-link:active {
    color: hsl(0 0 100%);
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 16px 24px;
    border-radius: 1px;

    color: black;
    background-color: var(--main-color);
    transition: all 0.1s ease;
}

.btn:hover {
    filter: brightness(1.1);
    transform: translateY(-1px);
  }
  
  .btn:active {
    filter: brightness(0.9);
    transform: translateY(0);
  }

.section {
    margin: 0 auto;

    max-width: 80vw;
    height: 95vh;
}

.scroll-into {
    scroll-snap-align: start;
}

.code {
    color: var(--code-text-color);
}

.green-text {
    color: var(--main-color);
}

.pinky-text {
    color: var(--secondary-color);
}


#hero {
    display: flex;
    margin-top: 20vh;
    
    flex-direction: column;
    align-items: center;
}

#hero h1 {
    margin: 0;

    font-size: 2.5rem;
    font-weight: normal;
}

#hero .title {
    margin: 12px 0 0 0;
    font-size: 4rem;
}

#hero .slogan {
    margin: 8px 0 80px 0;
    font-size: 1.25rem;
}

#hero .btn-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}