:root {
    /*
    --main-color: #2DA567;
    --secondary-color: #A52D6B;
    */
    --main-color: hsl(149, 57%, 41%);
    --secondary-color: hsl(329, 57%, 41%);
    --code-text-color: hsl(0 0 60%);
}


html {
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 100%;

    background-color: #161616;
    color: white;
    font-family: 'Aldrich', sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.content {
    padding: 0;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
    padding: 1rem 2rem;
    margin: 0;
}

.navbar ul {
    flex-wrap: nowrap;
    overflow-x: auto;
}

.simple-link {
    text-decoration: none;
    color: hsl(0 0 60%);
    font-weight: bold;

    transition: color 0.3s ease;
}

.simple-link:hover {
    color: hsl(0 0 80%);
}

.simple-link:active {
    color: hsl(0 0 100%);
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 20px 32px;
    border-radius: 1px;

    font-size: 1.25rem;
    color: black;
    background-color: var(--main-color);
    transition: all 0.1s ease;
}

.btn:hover {
    filter: brightness(1.1);
    transform: translateY(-1px);
  }
  
  .btn:active {
    filter: brightness(0.9);
    transform: translateY(0);
  }

.section {
    margin: 0 auto;
    padding-top: 10vh;

    max-width: 80vw;
    height: 95vh;
}

.scroll-into {
    scroll-snap-align: start;
}

.code {
    color: var(--code-text-color);
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
}

.green-text {
    color: var(--main-color);
}

.pinky-text {
    color: var(--secondary-color);
}


#hero {
    display: flex;
    margin-top: 20vh;
    padding-top: 0;
    
    flex-direction: column;
    align-items: center;
}

#hero h1 {
    margin: 0;

    font-size: 2.5rem;
    font-weight: normal;
}

#hero .title {
    margin: 12px 0 0 0;
    font-size: 4rem;
}

#hero .slogan {
    margin: 8px 0 80px 0;
    font-size: 1.25rem;
}

#hero .btn-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

h2 {
    margin: 0;
    margin-bottom: 28px;

    font-weight: normal;
    font-size: 2rem;
}


#about-me .yapping {
    margin-top: 0;
    margin-bottom: 60px;

    font-size: 1.25rem;
}

#about-me .indented {
    padding-left: 15%;
}

#projects .project-name{
    flex-basis: 100%;

    font-size: 1.75rem;
    margin-top: 4px;
}

#projects .simple-link{
    color: hsl(0 0 80%);
}

#projects .simple-link:hover{
    color: hsl(0 0 100%);
}

#projects .simple-link:active{
    color: hsl(0 0 100%);
}

.simple-link .green-text{
    color: hsl(149, 57%, 41%);
    transition: color 0.3s ease;
}

.simple-link:hover .green-text {
    color: hsl(149, 57%, 51%);
}
  
.simple-link:active .green-text {
    color: hsl(149, 57%, 51%);
}

#projects .project-list {
    list-style: none;
    margin-top: 1.5rem;
}

#projects .project-list .item {
    margin-bottom: 36px;
}

#projects .project-list .project-link {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 0;

    font-size: 1.5rem;
    font-weight: normal;
}

.project-link .skills {
    flex-basis: 60%;
}

.skill-tree,
.skill-tree ul {
    list-style: none;
    font-size: 1.5rem;

    margin: 0;
    padding-left: 3.5rem;
    position: relative; 
}

.skill-tree ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0.6rem; 
    width: 1px;
    height: 100%;
    background-color: #888; 
  }

.skill-tree li {
    position: relative;      
    margin: 0.5rem 0;       
}
  
.skill-tree li::before {
    content: '';
    position: absolute;
    top: 0.75rem;
    left: -2.90rem;
    width: 2.6rem; 
    height: 1px;
    background-color: #888;
}

.node,
.leaf {
  display: inline-block;
  padding-left: 0.5rem;
}

.education-list {
    list-style: none;
    font-size: 1.5rem;
}

.career-name {
    font-size: 1.75rem;
}

.education-list p {
    margin: 0;
    margin-bottom: 0.35rem;
}

.education-list li {
    margin-bottom: 2.5rem;
}

.education-list .career-item {
    margin-bottom: 4.5rem;
}


.footer {
    margin: 0;
    padding: 0.75rem 0;

    font-size: 1rem;
    background-color: var(--main-color);
}

.footer p {
    margin: 0;
    padding-left: 0.5rem;

    color: black;
}