<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Load Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet">

    <link rel="stylesheet" href={{ url_for('static', filename="css/style.css") }}>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<body>
    <nav>
    <ul>
        <li><a href="#">> Home</a></li>
        <li><a href="#about-me">> About Me</a></li>
        <li><a href="#projects">> Projects</a></li>
        <li><a href="#skills">> Skills</a></li>
        <li><a href="#education">> Education</a></li>
        <li><a href="#contact">> Contact</a></li>
    </ul>
    </nav>

    <section id="hero">
        <p class="code">$ whoami</p>
        <h1>I am Brian Magana</h1>
        <p>BACKEND DEVELOPER</p>
        <p>Developing solutions to common problems</p>
        <a href="#contact">> Contact Me</a>
        <a href="#about-me">> Learn More</a>
    </section>

    <section id="about-me">
        <h2>~$ About Me/</h2>
        <p class="code">$ cat about_me.txt</p>
        <p>I'm a backend-focused developer with experience building Python web applications using Django. I'm always looking to expand my knowledge and take pride in delivering well-crafted, reliable solutions. Passionate about technology, I aim for quality and attention to detail in every project I work on.</p>
        <a href="{{ url_for('static', filename='files/CV.pdf') }}" target="_blank">> Open Resume</a>
    </section>

    <section id="projects">
        <h2>~$ Projects/</h2>
        <p class="code">$ ls -l --big-font projects/</p>
        <ul>
        {% for project in projects %}
            <li>
                <a href="#">
                <span class="project-symbol">></span>
                <span>
                    <span>[</span>

                    {% for tech in project.technologies %}
                    <span> {{ tech }} </span>
                    {% if not loop.last %} <span>|</span> {% endif %}
                    {% endfor %}

                    <span>]</span>
                </span>
                <span>
                    <span>user</span>
                    <span>Brian</span>
                </span>
                <span>{{ project.date }}</span>
                <div>{{ project.name }}</div>
                </a>
            </li>
        {% endfor %}
        </ul>
    </section>

    <section id="skills">
        <h2>~$ Skills/</h2>
        <p class="code">$ tree skills/</p>
        <ul>
            <li>skills/</li>
            <ul>
                {% for category, content in skills.items() %}
                <li> {{ category }}/ </li>
                <ul>
                    {% for skill in content.technologies %}
                    <li> <span>|img|</span> {{ skill }}.skill </li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </ul>
        </ul>
    </section>

    <section id="education">
        <h2>~$ Education/</h2>
        <p class="code">$ cat education.txt --bigger-font</p>
        <ul>
            <li>
                <p>Bachelor of Computer Engineering</p>
                <p>Universidad de Guadalajara --- 2018 - 2024</p>
            </li>
            {% for certificate in certificates %}
            <li>
                <p><span>Certificate:</span> {{ certificate.name }} </p>
                <p> {{ certificate.company }} --- {{ certificate.year }} </p>
                <p><span>Skills:</span> {{ ", ".join(certificate.skills) }} </p>
            </li>
            {% endfor %}
        </ul>
    </section>

    <section id="contact">
        <h2>~$ Contact/</h2>
        <p class="code">~$ cat contact.txt --center</p>
        <div class="card">
            <p>Backend Developer</p>
            <div class="contact-item">
                <i>icon</i> <span>john.doe@example.com </span>
            </div>
            <div class="contact-item">
                <i>icon</i> <span>github.com/johndoe</span>
            </div>
            <div class="contact-item">
                <i>icon</i> <span>linkedin.com/in/johndoe</span>
            </div>
        </div>
    </section>

    <footer>
        <p>portfolio webpage line 256/278 (END) (contact me for help or close the window to quit)</p>
    </footer>
</body>
</html>